@import '@/uni.scss';
.wrapper{
	.header{
		height: 0.4rem;
		padding: 0 0.12rem;
		@include displayFlex(flex-start);
		.avatar{
			@include size(0.4rem);
		}
		
		.user-info{
			// @include displayFlex(space-between,flex-start,column);
			margin-left: 0.08rem;
			.name{
				@include font(0.14rem,600)
			}
			.desc-wrap{
				margin-top: 0.04rem;
				@include displayFlex(flex-start);
				@include font(0.12rem);
				// align-items: ;
				.tag{
					border: 0.01rem solid red;
					padding: 0.02rem 0.04rem;
					margin-right: 0.06rem;
					border-radius: 0.04rem;
				}
			}
		}

	}

}

